@model CabinReservationWebApplication.Models.CabinReservation

@{
    ViewData["Title"] = "DeleteCabinReservation";
    var bookingTime = Model.ReservationBookingTime.ToString("dd'.'MM'.'yyyy HH:mm:ss");
    var startDate = Model.ReservationStartDate.ToString("dd'.'MM'.'yyyy");
    var endDate = Model.ReservationEndDate.ToString("dd'.'MM'.'yyyy");
}
<h1>Poista majoitusvaraus</h1>

<br />
<h3>Haluatko varmasti poistaa majoitusvarauksen ja sen lisäpalveluvaraukset?</h3>
<div>
    <br />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Toimipiste
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabin.Resort.ResortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabin.CabinName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabin.CabinName)
        </dd>
        <dt class="col-sm-2">
            Varaaja
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName) @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationBookingTime)
        </dt>
        <dd class="col-sm-10">
            @bookingTime
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStartDate)
        </dt>
        <dd class="col-sm-10">
            @startDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationEndDate)
        </dt>
        <dd class="col-sm-10">
            @endDate
        </dd>
        <dt class="col-sm-2">
            Lisäpalvelut
        </dt>
        @if (Model.ActivityReservations.Count != 0)
        {
            foreach (var item in Model.ActivityReservations)
            {
                <dd class="col-sm-10">
                    @item.Activity.ActivityName
                </dd>
                <dt class="col-sm-2"></dt>
            }
        }
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CabinReservationId" />
        <input type="submit" value="Poista" class="btn btn-danger" />
    </form>
    <br />
    @*<button onclick="window.history.go(-1);" class="btn btn-secondary">Takaisin</button>*@
    <a asp-action="Index" class="btn btn-secondary">Takaisin</a>
</div>
