@model CabinReservationWebApplication.Models.Activity

@{
    ViewData["Title"] = "Lisäpalvelun tiedot";
}

<h1>Lisäpalvelun tiedot</h1>

<div>
    <br />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Toimipiste
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resort.ResortName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId" class="btn btn-success">Muokkaa</a>
    @*<button onclick="window.history.go(-1);" class="btn btn-secondary">Takaisin</button>*@
    <a asp-action="Index" class="btn btn-secondary">Takaisin</a>
</div>
